In [26]:
import pandas as pd
import numpy as np

# Series生成

In [27]:
print('Series生成')
obj = pd.Series([2,3,-4,5])
print(obj)

print('\nindex指定Series生成')
obj2 = pd.Series([1,2,-3,4], index=[10,11,12,13])
print(obj)

print('\ndictionary型からの変換')
obj3 = pd.Series({'apple': 100, 'orange': 200, 'lemon': 300})
print(obj3)

Series生成
0    2
1    3
2   -4
3    5
dtype: int64

index指定Series生成
0    2
1    3
2   -4
3    5
dtype: int64

dictionary型からの変換
apple     100
orange    200
lemon     300
dtype: int64

# value, index表示

In [28]:
obj = pd.Series([2,3,-4,5])
print(obj)
print('\nvalue表示')
print(obj.values)
print('\nindex表示')
print(obj.index)

0    2
1    3
2   -4
3    5
dtype: int64

value表示
[ 2  3 -4  5]

index表示
RangeIndex(start=0, stop=4, step=1)

# Series参照

In [29]:
obj = pd.Series([2,3,-4,5])
print(obj)

print('\nSeries参照')
print(obj[0])
print('\n')
print(obj[0:2])
print('\n')
print(obj[obj > 0])

0    2
1    3
2   -4
3    5
dtype: int64

Series参照
2


0    2
1    3
dtype: int64


0    2
1    3
3    5
dtype: int64

# Nan値有無の確認

In [30]:
obj = pd.Series([2,None,-4,5])
print(obj)
print('\nNan値があるか確認')
print(pd.isnull(obj))
print('\n')
print(obj.isnull())
print('\n')
print(pd.notnull(obj))

0    2.0
1    NaN
2   -4.0
3    5.0
dtype: float64

Nan値があるか確認
0    False
1     True
2    False
3    False
dtype: bool


0    False
1     True
2    False
3    False
dtype: bool


0     True
1    False
2     True
3     True
dtype: bool

# Series　四則演算

In [57]:
s1 = pd.Series([2.,4.,6.,8.])
s2 = pd.Series([10.,11.,12])
print('\n和')
print(s1+s2)
print('\n差')
print(s1-s2)
print('\n積')
print(s1*s2)
print('\n商')
print(s1/s2)

和
0    12.0
1    15.0
2    18.0
3     NaN
dtype: float64

差
0   -8.0
1   -7.0
2   -6.0
3    NaN
dtype: float64

積
0    20.0
1    44.0
2    72.0
3     NaN
dtype: float64

商
0    0.200000
1    0.363636
2    0.500000
3         NaN
dtype: float64

# DataFrame生成

In [31]:
data = {'sensor1': [2,3,5,6,7],
        'sensor2': [10,12,14,15,16]}
frame = pd.DataFrame(data)
frame

   sensor1  sensor2
0        2       10
1        3       12
2        5       14
3        6       15
4        7       16

In [32]:
data = {'sensor1': [2,3,5,6,7],
        'sensor2': [10,12,14,15,16]}
frame = pd.DataFrame(data)
frame.head(3)

   sensor1  sensor2
0        2       10
1        3       12
2        5       14

In [33]:
data = {'sensor1': [2,3,5,6,7],
        'sensor2': [10,12,14,15,16]}
frame = pd.DataFrame(data, columns=['sensor1', 'sensor2', 'sensor3'])
frame

   sensor1  sensor2 sensor3
0        2       10     NaN
1        3       12     NaN
2        5       14     NaN
3        6       15     NaN
4        7       16     NaN

# DataFrame参照

In [42]:
data = {'sensor1': [2,3,5,6,7],
        'sensor2': [10,12,14,15,16]}
frame = pd.DataFrame(data)
print(frame)

   sensor1  sensor2
0        2       10
1        3       12
2        5       14
3        6       15
4        7       16

# DataFrame フィルタリング

In [52]:
data = {'sensor1': [2,3,5,6,7],
        'sensor2': [10,12,14,15,16]}
frame = pd.DataFrame(data)
print(frame)

print('\ncolumn指定のフィルタリング')
print(frame['sensor1'])

print('\nindex指定のフィルタリング')
print(frame[2:3])

print('\nindex指定のフィルタリング')
print(frame.loc[2])

   sensor1  sensor2
0        2       10
1        3       12
2        5       14
3        6       15
4        7       16

column指定のフィルタリング
0    2
1    3
2    5
3    6
4    7
Name: sensor1, dtype: int64

index指定のフィルタリング
   sensor1  sensor2
2        5       14

index指定のフィルタリング
sensor1     5
sensor2    14
Name: 2, dtype: int64

# DataFrame削除

In [ ]:
data = {'sensor1': [2,3,5,6,7],
        'sensor2': [10,12,14,15,16]}
frame = pd.DataFrame(data)
frame.drop([0,2])

# DataFrame　四則演算

In [65]:
f1 = pd.DataFrame(np.arange(9.).reshape(3,3), columns=list('abc'))
f2 = pd.DataFrame(np.arange(10.,19.).reshape(3,3), columns=list('abd'))
print(f1)
print('\n')
print(f2)
print('\n和')
print(f1+f2)
print('\n差')
print(f1-f2)
print('\n積')
print(f1*f2)
print('\n商')
print(f1/f2)

     a    b    c
0  0.0  1.0  2.0
1  3.0  4.0  5.0
2  6.0  7.0  8.0


      a     b     d
0  10.0  11.0  12.0
1  13.0  14.0  15.0
2  16.0  17.0  18.0

和
      a     b   c   d
0  10.0  12.0 NaN NaN
1  16.0  18.0 NaN NaN
2  22.0  24.0 NaN NaN

差
      a     b   c   d
0 -10.0 -10.0 NaN NaN
1 -10.0 -10.0 NaN NaN
2 -10.0 -10.0 NaN NaN

積
      a      b   c   d
0   0.0   11.0 NaN NaN
1  39.0   56.0 NaN NaN
2  96.0  119.0 NaN NaN

商
          a         b   c   d
0  0.000000  0.090909 NaN NaN
1  0.230769  0.285714 NaN NaN
2  0.375000  0.411765 NaN NaN