In [28]:
import pandas as pd

# Series生成

In [29]:
print('Series生成')
obj = pd.Series([2,3,-4,5])
print(obj)

print('\nindex指定Series生成')
obj2 = pd.Series([1,2,-3,4], index=[10,11,12,13])
print(obj)

print('\ndictionary型からの変換')
obj3 = pd.Series({'apple': 100, 'orange': 200, 'lemon': 300})
print(obj3)

Series生成
0    2
1    3
2   -4
3    5
dtype: int64

index指定Series生成
0    2
1    3
2   -4
3    5
dtype: int64

dictionary型からの変換
apple     100
orange    200
lemon     300
dtype: int64

# value, index表示

In [30]:
obj = pd.Series([2,3,-4,5])
print(obj)
print('\nvalue表示')
print(obj.values)
print('\nindex表示')
print(obj.index)

0    2
1    3
2   -4
3    5
dtype: int64

value表示
[ 2  3 -4  5]

index表示
RangeIndex(start=0, stop=4, step=1)

# Series参照

In [31]:
obj = pd.Series([2,3,-4,5])
print(obj)

print('\nSeries参照')
print(obj[0])
print('\n')
print(obj[0:2])
print('\n')
print(obj[obj > 0])

0    2
1    3
2   -4
3    5
dtype: int64

Series参照
2


0    2
1    3
dtype: int64


0    2
1    3
3    5
dtype: int64

# Nan値有無の確認

In [32]:
obj = pd.Series([2,None,-4,5])
print(obj)
print('\nNan値があるか確認')
print(pd.isnull(obj))
print('\n')
print(obj.isnull())
print('\n')
print(pd.notnull(obj))

0    2.0
1    NaN
2   -4.0
3    5.0
dtype: float64

Nan値があるか確認
0    False
1     True
2    False
3    False
dtype: bool


0    False
1     True
2    False
3    False
dtype: bool


0     True
1    False
2     True
3     True
dtype: bool

# DataFrame生成

In [34]:
data = {'sensor1': [2,3,5,6,7],
        'sensor2': [10,12,14,15,16]}
frame = pd.DataFrame(data)
frame

   sensor1  sensor2
0        2       10
1        3       12
2        5       14
3        6       15
4        7       16

In [35]:
data = {'sensor1': [2,3,5,6,7],
        'sensor2': [10,12,14,15,16]}
frame = pd.DataFrame(data)
frame.head(3)

   sensor1  sensor2
0        2       10
1        3       12
2        5       14

In [38]:
data = {'sensor1': [2,3,5,6,7],
        'sensor2': [10,12,14,15,16]}
frame = pd.DataFrame(data, columns=['sensor1', 'sensor2', 'sensor3'])
frame

   sensor1  sensor2 sensor3
0        2       10     NaN
1        3       12     NaN
2        5       14     NaN
3        6       15     NaN
4        7       16     NaN

# DataFrame参照

In [41]:
data = {'sensor1': [2,3,5,6,7],
        'sensor2': [10,12,14,15,16]}
frame = pd.DataFrame(data)
frame.loc[0]

sensor1     2
sensor2    10
Name: 0, dtype: int64